* {
  margin: 0;
  padding: 0;
  overflow: 0;
}
body {
  background-color: #2b2922;
}

html {
  font-size: 62.5%;
}

.nav-law {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
}

.nav-first img {
  width: 10rem;
  position: relative;
  margin-left: -10rem;
}

.nav-mid {
  display: flex;
  /* border: 2px solid red; */
  position: relative;
  left: 15rem;
}
.nav-mid h4 {
  margin-left: 2rem;
  color: #ffffff;
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 100;
}

.button-small {
  /* border: 2px solid red; */
  margin-top: 0.1rem;
  margin-left: 0.7rem;
  width: 10rem;
  padding: 0.5rem;
  background-color: transparent;
  border-radius: 1rem;
  color: #58502a;
  border-color: #58502a;
  cursor: grab;
}

.intro {
  /* border: 2px solid black; */
}

.left {
  /* border: 2px solid red; */
  display: inline-block;
  color: #fff;
  margin-left: 8rem;
  margin: 6rem 8rem;
  font-size: 3rem;
  text-align: justify;
}

.right {
  /* border: 2px solid blue; */
  display: inline-block;
  position: relative;
  top: 0.2rem;
  display: inline-block;
  font-size: 2rem;
  width: 44%;
  color: #FFFFFF;
  text-align: justify;
}
.last {
  display: inline-block;
  width: 100vw;
}
.last img {
  width: 100vw;
  height: 70vh;
  position: relative;
}

@media screen and (max-width:2000px){
  html{
    font-size: 55%;
    text-align: center;
  }
  .last img {
    width: 100vw;
    height: 100vh;
    text-align: center;
  }
  
  .nav-mid {
    /* display: flex;
    position: relative;
    left: 15rem; */
    text-align: center;
  }
}